certifi==2023.11.17
jsonschema-specifications==2023.11.1
regex==2023.10.3
fsspec==2023.10.0
pytz==2023.3.post1
tzdata==2023.3
setuptools==65.5.1
pyzmq==25.1.1
pip==23.3.1
packaging==23.2
argon2-cffi==23.1.0
attrs==23.1.0
argon2-cffi-bindings==21.2.0
isoduration==20.11.0
Faker==20.1.0
pyarrow==14.0.1
rich==13.7.0
nvidia-nvjitlink-cu12==12.3.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
nvidia-cublas-cu12==12.1.3.1
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cufft-cu12==11.0.2.54
pymdown-extensions==10.5
nvidia-curand-cu12==10.3.2.106
Pillow==10.1.0
more-itertools==10.1.0
ipython
nvidia-cudnn-cu12==8.9.2.26
jupyter-client==8.6.0
tenacity==8.2.3
click==8.1.7
ipywidgets==8.1.0
python-slugify==8.0.1
nbconvert
overrides==7.4.0
ipykernel
importlib-metadata==6.8.0
notebook
tornado==6.3.3
bleach==6.1.0
multidict==6.0.4
PyYAML==6.0.1
psutil==5.9.6
nbformat
traitlets==5.9.0
jupyter-core
cachetools==5.3.2
tzlocal==5.2
altair==5.1.2
decorator==5.1.1
smmap==5.0.1
tqdm==4.66.1
fonttools==4.45.1
cohere==4.36
transformers==4.33.2
protobuf==4.25.1
jsonschema==4.20.0
beautifulsoup4==4.12.2
lxml==4.9.3
humanize==4.9.0
pexpect==4.9.0
gdown==4.7.1
typing-extensions==4.5.0
gitdb==4.0.11
widgetsnbextension==4.0.9
async-timeout==4.0.3
st-annotated-text==4.0.1
munch==4.0.0
platformdirs==4.0.0
slack-sdk==3.26.0
marshmallow==3.20.1
zipp==3.17.0
pypdf==3.16.1
filelock==3.13.1
aiohttp==3.9.1
matplotlib==3.8.2
nltk==3.8.1
python-decouple==3.8
anyio==3.7.1
idna==3.6
Markdown==3.5.1
xxhash==3.4.1
charset-normalizer==3.3.2
networkx==3.2.1
threadpoolctl==3.2.0
GitPython==3.1.40
Jinja2==3.1.2
pyparsing==3.1.1
prompt-toolkit==3.0.41
jupyterlab-widgets
mistune==3.0.2
greenlet==3.0.1
markdown-it-py==3.0.0
watchdog==3.0.0
requests==2.31.0
pycparser==2.21
fastjsonschema==2.19.0
nvidia-nccl-cu12==2.18.1
pygments==2.17.2
datasets==2.15.0
jupyter-server
types-python-dateutil==2.8.19.14
python-dateutil==2.8.2
soupsieve==2.5
dnspython==2.4.2
asttokens==2.4.1
jsonpointer==2.4
frozendict==2.3.9
pinecone-client==2.2.4
sentence-transformers==2.2.2
backoff==2.2.1
MarkupSafe==2.1.3
pandas==2.1.3
torch==2.1.1
triton==2.1.0
urllib3==2.1.0
SQLAlchemy==2.0.23
python-json-logger==2.0.7
executing==2.0.1
jsonpatch==1.33
streamlit==1.28.2
numpy==1.26.2
slack-bolt==1.18.1
cffi==1.16.0
six==1.16.0
wrapt==1.16.0
webcolors==1.13
alembic==1.12.1
sympy==1.12
scipy==1.11.4
pydantic==1.10.13
yarl==1.9.3
Send2Trash==1.8.2
fastavro==1.8.2
debugpy==1.8.0
distro==1.8.0
PySocks==1.7.1
rich-click==1.7.1
blinker==1.7.0
websocket-client==1.6.4
kaggle==1.5.16
nest-asyncio==1.5.8
fqdn==1.5.1
pandocfilters==1.5.0
kiwisolver==1.4.5
frozenlist==1.4.0
openai==1.3.5
joblib==1.3.2
scikit-learn==1.3.2
aiosignal==1.3.1
Mako==1.3.0
arrow==1.3.0
mpmath==1.3.0
sniffio==1.3.0
text-unidecode==1.3
uri-template==1.3.0
Deprecated==1.2.14
tinycss2==1.2.1
contourpy==1.2.0
exceptiongroup==1.2.0
httpcore==1.0.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
merkle-json==1.0.0
mypy-extensions==1.0.0
python-dotenv==1.0.0
multiprocess==0.70.15
wheel==0.41.3
referencing==0.31.0
httpx==0.25.2
validators==0.22.0
huggingface-hub==0.19.4
jedi==0.19.1
prometheus-client==0.19.0
trulens-eval==0.18.1
terminado==0.18.0
torchvision==0.16.1
h11==0.14.0
tokenizers==0.13.3
rpds-py==0.13.1
cycler==0.12.1
toolz==0.12.0
toml==0.10.2
llama-index==0.9.8
jupyter-events==0.9.0
nbclient==0.9.0
parso==0.8.3
pydeck==0.8.1b0
typing-inspect==0.8.0
loguru==0.7.2
defusedxml==0.7.1
favicon==0.7.0
ptyprocess==0.7.0
stack-data==0.6.3
dataclasses-json==0.6.2
htbuilder==0.6.2
pyarrow-hotfix==0.6
aiostream==0.5.2
tiktoken==0.5.1
webencodings==0.5.1
jupyter-server-terminals
redlines==0.4.2
entrypoints==0.4
safetensors==0.4.0
dill==0.3.7
streamlit-extras==0.3.5
streamlit-aggrid==0.3.4.post3
jupyterlab-pygments
wcwidth==0.2.12
pure-eval==0.2.2
ipython-genutils
comm==0.2.0
streamlit-camera-input-live==0.2.0
streamlit-keyup==0.2.0
sentencepiece==0.1.99
matplotlib-inline==0.1.6
streamlit-image-coordinates==0.1.6
streamlit-javascript==0.1.5
rfc3339-validator==0.1.4
mdurl==0.1.2
streamlit-embedcode==0.1.2
millify==0.1.1
rfc3986-validator==0.1.1
langchain==0.0.340
langsmith==0.0.66
streamlit-card==0.0.61
markdownlit==0.0.7
streamlit-faker==0.0.3
